<div class="col-md-8">
  <div id="content">
    <h1><%= @task.name %></h1>
    <p>
      <%= @task.description %>
    </p>
  <%= link_to 'Edit task', edit_task_path(@task), remote: true, class: "btn btn-primary" %> </br>
</div>
</div>

<div class="form-horizontal">  
  <div class="col-md-4">
      <h1>List tasks</h1>
      <p> <%= link_to "Show task content", task_path(@task), remote:true %> </p>
        <% @tests.each do |test| %>
          <p>
            <%= link_to test.name, test_path(test), remote:true %>
            <%= link_to 'Design test', test_path(test), class: "btn btn-xs btn-primary", target: "_blank" %>
            <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-warning" %>
          </p>
        <% end %>
        <div >
          <%= link_to 'Add a test', task_addtest_path(@task), 
          remote: true, class: "btn btn-primary" %> </br>
        </div>
  </div>
</div>