<%= form_for @subject do |s| %>
  <div class="field">
    <%= s.label :name, :remote => true %>
    <%= s.text_field :name, class: "form-control" %>
  </div>
  <%= s.hidden_field :course_id, :value => @course.id %>
  
  <div class="actions">
    <%= s.submit "Create Subject", class: "btn btn-primary" %>
  </div>
<% end %>